<a href="https://colab.research.google.com/github/ayaz-ncr/100ml/blob/master/06_tfidf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [0]:
texts = ["good movie", "not a good movie", "did not like", "i like it", "good one"]

In [4]:
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range = (1,2))
features = tfidf.fit_transform(texts)
pd.DataFrame(features.todense(), columns=tfidf.get_feature_names())

   good movie      like     movie       not
0    0.707107  0.000000  0.707107  0.000000
1    0.577350  0.000000  0.577350  0.577350
2    0.000000  0.707107  0.000000  0.707107
3    0.000000  1.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000