<a href="https://colab.research.google.com/github/ayaz-ncr/100ml/blob/master/61_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files
uploaded = files.upload()

Saving churn-100.csv to churn-100.csv

In [0]:
import pandas as pd
dataset = pd.read_csv('churn.csv')

In [14]:
dataset.head()

   Customer ID   Age  ...  Bill Amount  Churned
0            1  64.0  ...        169.0      Yes
1            2  29.0  ...        137.0       No
2            3  47.0  ...        252.0       No
3            4  75.0  ...        175.0       No
4            5  66.0  ...        128.0       No

[5 rows x 22 columns]

In [22]:
dataset.shape

(2782, 22)

In [16]:
dataset.isnull().sum().values.sum()
dataset.isnull().sum()

Customer ID                              0
Age                                    207
Average Bill over 6 months               0
Average Bill over 12 months              0
Number of defaults in last 12 bills      0
Payment Method                           0
District                                 0
Area                                     0
Concesssion Card                         1
INBOUNDCALLS                             1
OUTBOUNDCALLS                            1
Relationship (months)                  150
Bill Delivery Method                     1
Category of latest complaint           583
NPS                                      1
Product                                  1
Multiple Products                        1
Product_New                              1
Product Category                         1
Customer Segment                         1
Bill Amount                              1
Churned                                  1
dtype: int64

In [18]:
dataset.isnull().sum().sort_values(ascending=False)
(dataset.isnull().sum()/dataset.isnull().count()).sort_values(ascending=False)

Category of latest complaint           0.160429
Age                                    0.056962
Relationship (months)                  0.041277
Churned                                0.000275
Concesssion Card                       0.000275
INBOUNDCALLS                           0.000275
Bill Amount                            0.000275
Bill Delivery Method                   0.000275
OUTBOUNDCALLS                          0.000275
NPS                                    0.000275
Product                                0.000275
Multiple Products                      0.000275
Product_New                            0.000275
Product Category                       0.000275
Customer Segment                       0.000275
Area                                   0.000000
District                               0.000000
Payment Method                         0.000000
Number of defaults in last 12 bills    0.000000
Average Bill over 12 months            0.000000
Average Bill over 6 months             0.000000
Customer ID                            0.000000
dtype: float64

In [0]:
dataset = dataset.dropna()

In [0]:
def age_group(dataset):
    
    if (dataset["Age"] >= 18) & (dataset["Age"] <= 35 ):
        return "Age_18-35"
    elif (dataset["Age"] > 35) & (dataset["Age"] <= 50 ):
        return "Age_35-49"
    elif (dataset["Age"] > 50) & (dataset["Age"] <= 69) :
        return "Age_50-69"
    elif (dataset["Age"] >= 70):
        return "Age_70_and_above"


dataset["Age"] = dataset.apply(lambda dataset:age_group(dataset), axis = 1)

In [25]:
dataset["Age"]

0              Age_50-69
2              Age_35-49
3       Age_70_and_above
7       Age_70_and_above
8              Age_50-69
              ...
3625           Age_50-69
3627           Age_50-69
3628    Age_70_and_above
3631    Age_70_and_above
3632           Age_18-35
Name: Age, Length: 2782, dtype: object

In [0]:
Id_col     = ['Customer ID']
target_col = ['Churned']
cat_cols   = dataset.nunique()[dataset.nunique() < 20].keys().tolist()
cat_cols   = [x for x in cat_cols if x not in target_col]
num_cols   = [x for x in dataset.columns if x not in cat_cols + target_col + Id_col]
#Binary columns with 2 values
bin_cols   = dataset.nunique()[dataset.nunique() == 2].keys().tolist()
#Columns more than 2 values
multi_cols = [i for i in cat_cols if i not in bin_cols]

In [0]:
from sklearn.preprocessing import LabelEncoder
#Label encoding Binary columns
le = LabelEncoder()
for i in bin_cols :
    dataset[i] = le.fit_transform(dataset[i])

In [0]:
from imblearn.over_sampling import SMOTE

In [0]:
smote_X =